alembic==1.18.5
asyncpg==0.31.0
bcrypt==5.0.0
fastapi[standard]==0.140.7
langchain==0.3.18
langchain-google-genai==2.0.4
langgraph==0.2.60
llama-cloud==2.13.0
psycopg2-binary==2.9.10
pydantic==2.13.4
pydantic-settings==2.14.2
python-jose[cryptography]==3.5.0
python-json-logger==4.1.0
qdrant-client==1.18.0
redis==8.0.1
SQLAlchemy==2.0.51
uvicorn[standard]==0.30.0
